{% extends 'blog/base.html' %}

{% load static %}

{% block title %} All the beauty documental {% endblock title %} 


{% block content %}
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">Un documental sobre la epidemia de opioides gana el León de Oro</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">María Estéves, elcorreo.com, Domingo, 11 Sept 2022</div>
                            <!-- Post categories-->

                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="{% static 'assets/images/docu1.jpg' %}" alt="..." /></figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">El documental 'All the Beauty and the Bloodshed', de Laura Poitras, que aborda la crisis de opioides en Estados Unidos, ganó ayer el León de Oro de la 79 edición del Festival de Venecia. La cinta cuenta la vida de la fotógrafa Nan Goldin, reina del 'underground' de Nueva York en las décadas de los setenta y ochenta y mujer que combatió la epidemia de opioides, cuyo abuso se ha cobrado cientos de miles de vidas.

                                El jurado, presidido por la actriz estadounidense Julianne Moore, praclamó a la australiana Cate Blanchett mejor actriz por su brillante actuación como directora de orquesta en el filme 'TAR', de Todd Field, un drama sobre el abuso de poder. Es la segunda vez que Venecia distingue a la aclamada actriz, de 53 años, que ha puesto su fama y talento al servicio de la lucha feminista, después de 'I'm not There' de Todd Haynes, cinta en la que dio vida hace quince años a otro músico, Bob Dylan.
                                
                                El italiano Luca Guadagnino, se adjudicó el León de Plata a la Mejor Dirección por 'Bones and All'. Jafar Panahi, represaliado cineasta iraní que se halla encarcelado en su país, volvió a burlar a sus carceleros al obtener el premio especial del jurado por su película 'No bears', cinta que recrea la vida de un artista perseguido.
                                
                                Colin Farrell se llevó la Copa Volpi al mejor actor por su interpretación en 'The Banshees of Inisherin', de Martin McDonagh. Gracias a este filme el cineasta se llevó el premio al mejor guión. La película habla de la masculinidad tóxica, la guerra, la arrogancia intelectual y el afán de buscarle un sentido a la vida.</p>
                            
                        </section>
                    </article>
                    <!-- Comments section-->
                    <section class="mb-5">
                        <div class="card bg-light">
                            <div class="card-body">
                                <!-- Comment form-->
                                <form class="mb-4"><textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea></form>
                                <!-- Comment with nested comments-->
                                <div class="d-flex mb-4">
                                    <!-- Parent comment-->
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">Commenter Name</div>
                                        If you're going to lead a space frontier, it has to be government; it'll never be private enterprise. Because the space frontier is dangerous, and it's expensive, and it has unquantified risks.
                                        <!-- Child comment 1-->
                                        <div class="d-flex mt-4">
                                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                            <div class="ms-3">
                                                <div class="fw-bold">Commenter Name</div>
                                                And under those conditions, you cannot establish a capital-market evaluation of that enterprise. You can't get investors.
                                            </div>
                                        </div>
                                        <!-- Child comment 2-->
                                        <div class="d-flex mt-4">
                                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                            <div class="ms-3">
                                                <div class="fw-bold">Commenter Name</div>
                                                When you put money directly to a problem, it makes a good headline.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single comment-->
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">Commenter Name</div>
                                        When I look at the universe and all the ways the universe wants to kill us, I find it hard to reconcile that with statements of beneficence.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    
                    <!-- Categories widget-->

                    <div class="card mb-4">
                        <div class="card-header">Lista de Artículos</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="{% url 'docu1' %}">Un documental sobre la epidemia de opioides gana el León de Oro</a></li>
                                        <br>
                                        <li><a href="{% url 'docu4' %}">'Dopesick': capitalismo, opiáceos y la ruina de una generación</a></li>
                                        <br>
                                        <li><a href="{% url 'docu5' %}">libro El imperio de dolor</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="{% url 'docu2' %}">'El crimen del siglo', el documental de HBO sobre las farmacéuticas que deberías verL</a></li>
                                        <br>
                                        <li><a href="{% url 'docu3' %}">El Farmacéutico: un documental que va más allá de la muerte de un hijo</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

{% endblock content %}


