{% extends 'blog/base.html' %}

{% load static %}

{% block title %} El crimen del siglo {% endblock title %} 


{% block content %}
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">'El crimen del siglo', el documental de HBO sobre las farmacéuticas que deberías ver</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Rosa Martí, esquire.com, 11 mayo, 2022</div>
                            <!-- Post categories-->

                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="{% static 'assets/images/docu2.jpg' %}" alt="..." /></figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">El crimen del siglo, el último documental del galardonado Alex Gibney, sobre los orígenes, el alcance y las consecuencias de la agresiva comercialización en Estados Unidos de la oxicodona y los opioides, se estrena el 11 de mayo en HBO. En él el director acusa a la industria farmacéutica, con la connivencia de agentes gubernamentales, de lo que hipócritamente se ha llamado "la crisis de los opioides", un desastre que se ha llevado a medio millón de estadounidenses a la tumba.

                                Gibney vuelve a meter el dedo en la llaga para denunciar la corrupción y la avaricia, como ya hizo en Enron: los tipos que estafaron a América. También señala la hipocresía y permisividad gubernamental en el asunto como antes hiciera en Taxi al lado oscuro, una rigurosa investigación sobre los abusos contra detenidos en la Base Aérea de Bagram. El crimen del siglo revela la macabra y masiva operación llevada a cabo por la industria farmacéutica y funcionarios sin escrúpulos para enriquecerse a costa de las vidas de miles de adictos a los opioides legales.</p>
                            <h2 class="fw-bolder mb-4 mt-5">¿Y si descubrimos que la crisis de los opioides empezó con un crimen?</h2>
                            <p class="fs-5 mb-4">En cada uno de sus documentales, Gibney desmenuza la psicología que esconden las malas acciones y no se corta un pelo a la hora de señalar a los responsables de un negocio asesino totalmente legal. El horror subyacente en El crimen del siglo es que la epidemia de opioides no tiene un solo culpable, sino innumerables villanos: farmacéuticas y médicos, la multinacional Johnson & Johnson, algunos miembros del senado. Gibney los acusa con nombres y apellidos; presenta documentación rigurosa, cuenta con el testimonio de médicos, periodistas, antiguos y actuales funcionarios del Estado, abogados y representantes de laboratorios, además de testimonios de víctimas de la dependencia de opioides.</p>
                            <h2 class="fw-bolder mb-4 mt-5">'El crimen del siglo': cómo se llegó a esa situación de adicción</h2>
                            <p class="fs-5 mb-4">En Estados Unidos además hay una gran parte de la población que se pasó al consumo de las drogas ilegales al no tener los medios de conseguir las oxicodona que les habían recetado previamente por dolores crónicos. Drogas que estaban pensadas para pacientes terminales se administraban sin reparo a adolescentes con un dolor de rodilla.

                                El sistema es perverso: primero se crea adictos; luego, se les corta el suministro, o se les sube el precio. Los adictos que no pueden permitirse lo opioides salen a conseguir heroína o fentanilo. Gibney deja en evidencia el círculo vicioso entre farmacéuticas y carteles de la droga.</p>
                            <h2 class="fw-bolder mb-4 mt-5">El documental de HBO</h2>
                            <p class="fs-5 mb-4">El documental tiene dos partes. En la primera, Gibney muestra a los monstruos que antepusieron su beneficio económico a medio millón de vidas. Todo empezó con los multimillonarios hermanos Sackler y sus descendientes, dueños de la farmacéutica Purdue. Pero no son los únicos culpables. Funcionarios públicos codiciosos y sin escrúpulos aceptaron de buen grado los sobornos de Purdue para amañar las decisiones de la FDA (Administración de Alimentos y Medicamentos de los Estados Unidos). Un puñado de médicos ambiciosos, como Lynn Webster o Curtis Wright, proclamaron la doctrina del “tratamiento revolucionario para el dolor” y se inventaron términos como "pseudoadicción” para negar la evidencia y forrarse a costa de millones de inocentes.</p>
                            <p class="fs-5 mb-4">En la segunda parte vemos los mecanismos gubernamentales del crimen del siglo. Vemos ejemplos del marketing masivo del fentanilo y Gibney analiza las conexiones entre los laboratorios farmacéuticos y las políticas gubernamentales. Nos explica por ejemplo cómo Insys Therapeutics, productora de fentanilo, sobornó a los médicos para que recetaran sus fármacos.</p>
                            <p class="fs-5 mb-4">El crimen del siglo contiene material promocional vergonzoso y vergonzante utilizado por visitadores médicos y representantes de ventas. Escarba y pone de manifiesto un complejo esquema para defraudar a las aseguradoras de salud y demuestra que algunos legisladores recibieron donaciones de los grandes laboratorios farmacéuticos por evitar que se aplicara la ley y por hacer la vista gorda mientras se vendían millones de píldoras mortíferas.</p>
                        </section>
                    </article>
                    <!-- Comments section-->
                    <section class="mb-5">
                        <div class="card bg-light">
                            <div class="card-body">
                                <!-- Comment form-->
                                <form class="mb-4"><textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea></form>
                                <!-- Comment with nested comments-->
                                <div class="d-flex mb-4">
                                    <!-- Parent comment-->
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">Commenter Name</div>
                                        If you're going to lead a space frontier, it has to be government; it'll never be private enterprise. Because the space frontier is dangerous, and it's expensive, and it has unquantified risks.
                                        <!-- Child comment 1-->
                                        <div class="d-flex mt-4">
                                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                            <div class="ms-3">
                                                <div class="fw-bold">Commenter Name</div>
                                                And under those conditions, you cannot establish a capital-market evaluation of that enterprise. You can't get investors.
                                            </div>
                                        </div>
                                        <!-- Child comment 2-->
                                        <div class="d-flex mt-4">
                                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                            <div class="ms-3">
                                                <div class="fw-bold">Commenter Name</div>
                                                When you put money directly to a problem, it makes a good headline.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single comment-->
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">Commenter Name</div>
                                        When I look at the universe and all the ways the universe wants to kill us, I find it hard to reconcile that with statements of beneficence.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    
                    <!-- Categories widget-->

                    <div class="card mb-4">
                        <div class="card-header">Lista de Artículos</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="{% url 'docu1' %}">Un documental sobre la epidemia de opioides gana el León de Oro</a></li>
                                        <br>
                                        <li><a href="#!">Freebies</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="{% url 'docu2' %}">'El crimen del siglo', el documental de HBO sobre las farmacéuticas que deberías verL</a></li>
                                        <br>
                                        <li><a href="#!">Freebies</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

{% endblock content %}
