{% extends 'blog/base.html' %}

{% load static %}

{% block title %} El imperio del dolor {% endblock title %} 


{% block content %}
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">El imperio del dolor La historia secreta de la dinastía que reinó en la industria farmacéutica</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Patrick Radden Keefe, Reservoir Books, Septiembre 2021</div>
                            <!-- Post categories-->

                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="{% static 'assets/images/docu5.jpg' %}" alt="..." /></figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">El apellido Sackler adorna los muros de las instituciones más distinguidas: Harvard, el Metropolitan, Oxford, el Louvre... Es una de las familias más ricas del mundo, benefactora de las artes y las ciencias. El origen de su patrimonio siempre fue dudoso, hasta que salió a la luz que lo habían multiplicado gracias a OxyContin, un potente analgésico que catalizó la crisis de los opioides en Estados Unidos.</p>
                            <br>
                            <p class="fs-5 mb-4">El imperio del dolor empieza en la Gran Depresión, con la historia de tres hermanos dedicados a la medicina: Raymond, Mortimer y el infatigable Arthur Sackler, dotado de una visión especial para la publicidad y el marketing. Años después, contribuyó a la primera fortuna familiar ideando la estrategia comercial de Valium, un revolucionario tranquilizante, para una gran farmacéutica.</p>
                            <br>
                            <p class="fs-5 mb-4">Tras unas décadas fue Richard Sackler, el hijo de Raymond, quien pasó a dirigir los negocios del clan, incluida Purdue Pharma, su propia empresa fabricante de medicamentos. Basándose en las tácticas agresivas de su tío Arthur para vender el Valium, lanzó un fármaco que había de ser definitivo: OxyContin. Con él ganaron miles de millones de dólares, pero terminaría por arruinar su reputación.</p>
                            <br>
                            <p class="fs-5 mb-4">Desde 2017, Patrick Radden Keefe ha investigado los secretos de la dinastía Sackler: las complicadas relaciones familiares, los flujos de dinero, sus dudosas prácticas corporativas... El resultado es una bomba periodística que relata el auge y declive de una de las grandes familias americanas y su oscuro emporio de la salud.</p>
                            <h2 class="fw-bolder mb-4 mt-5">La crítica ha dicho:</h2>
                            <p class="fs-5 mb-4">«Una trama compleja, escrita con alto contenido literario.»
                                Jaume Ripoll, cofundador y director editorial de Filmin, El País</p>
                            <p class="fs-5 mb-4">«Este caballero es quizá el mejor periodista de hoy. Advertencia: en comparación con los Sackler, los Corleone se quedan en granujas de medio pelo.»
                                Eric González, Jot Down</p>
                            <p class="fs-5 mb-4">«Una gran saga familiar que abarca varias generaciones, una historia de poder, envidias y egos que se lee como El Padrino y tiene ecos de Succession. [...] Una obra magna, que comienza como una palmada en la espalda del capitalismo y termina como una patada en el estómago de quien lo lea.»
                                Roberto Moro, Libros y Literatura</p>
                            
                        </section>
                    </article>
                    <!-- Comments section-->
                    <section class="mb-5">
                        <div class="card bg-light">
                            <div class="card-body">
                                <!-- Comment form-->
                                <form class="mb-4"><textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea></form>
                                <!-- Comment with nested comments-->
                                <div class="d-flex mb-4">
                                    <!-- Parent comment-->
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">Commenter Name</div>
                                        If you're going to lead a space frontier, it has to be government; it'll never be private enterprise. Because the space frontier is dangerous, and it's expensive, and it has unquantified risks.
                                        <!-- Child comment 1-->
                                        <div class="d-flex mt-4">
                                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                            <div class="ms-3">
                                                <div class="fw-bold">Commenter Name</div>
                                                And under those conditions, you cannot establish a capital-market evaluation of that enterprise. You can't get investors.
                                            </div>
                                        </div>
                                        <!-- Child comment 2-->
                                        <div class="d-flex mt-4">
                                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                            <div class="ms-3">
                                                <div class="fw-bold">Commenter Name</div>
                                                When you put money directly to a problem, it makes a good headline.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single comment-->
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">Commenter Name</div>
                                        When I look at the universe and all the ways the universe wants to kill us, I find it hard to reconcile that with statements of beneficence.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    
                    <!-- Categories widget-->

                    <div class="card mb-4">
                        <div class="card-header">Lista de Artículos</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="{% url 'docu1' %}">Un documental sobre la epidemia de opioides gana el León de Oro</a></li>
                                        <br>
                                        <li><a href="{% url 'docu4' %}">'Dopesick': capitalismo, opiáceos y la ruina de una generación</a></li>
                                        <br>
                                        <li><a href="{% url 'docu5' %}">libro El imperio de dolor</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="{% url 'docu2' %}">'El crimen del siglo', el documental de HBO sobre las farmacéuticas que deberías verL</a></li>
                                        <br>
                                        <li><a href="{% url 'docu3' %}">El Farmacéutico: un documental que va más allá de la muerte de un hijo</a></li>
                                    </ul>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

{% endblock content %}